html{
	overflow-x: hidden;
}
body{
	font-size: 16px;
	line-height: 1.6;
	background: #fff;
}
h1,h2,h3,h4,h5,
.h1, .h2, .h3, .h4, .h5{
	line-height: 1.45;
	color: #000;
	font-weight: bold;
}
.kitchen-section .kitchen-sub-title{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .5em;
	font-weight: 300;
}
.kitchen-section .kitchen-primary-title{
	margin-top: 0;
	margin-bottom: 30px;
}

#section-about{
  padding: 8em 0;
}
.bg-light{
	
}
#section-offer{
  padding: 8em 0;
}

#section-menu{
  padding: 8em 0;
}
.menu-item{
	margin-bottom: 30px;
}
.menu-item img{
	width: 100px;
	border-radius: 50%;
}
#section-contact{
  padding: 8em 0;
}
.footer{
	padding: 2em 0;
	margin-top: 0px;
}
.footer i{
	font-size: 24px;
	padding: 5px;
	color: #17a2b8;
}
.footer ul li{
	color: #FFFFFF;
}
.footer h3{
	color: #FFFFFF;
	
}
hr{
	color: #FFFFFF;
	border-bottom: 1px dotted #FFFFFF;
	width: 100%;
}

